<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yarin.android.Examples_03_04"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19" />

    <application android:icon="@mipmap/ic_launcher"  android:label="@string/app_name" android:allowBackup="true">
        <activity android:name=".Activity01"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="Activity02" android:exported="true"></activity>

        <activity android:name="Activity03" android:exported="true" android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="my.intent.Example" />
                <action android:name="my.intent.AnotherExample" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="my.category.AnotherExample" />
                <data  android:scheme="myrmi" android:host="localhost"/>
                <data  android:mimeType="image/gif"/>
            </intent-filter>
        </activity>
    </application>
</manifest>