<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zhaojin.widget_preview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16"  android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application android:icon="@drawable/ic_launcher"  android:label="@string/app_name"  android:allowBackup="true">
        <receiver android:name=".MyAppWidgetProvider" > <!-- 继承 AppWidgetProvider -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/my_widget" />
        </receiver>
        <!--   Widget Preview 是android 自带的一个应用,用于出现在  Widget Preview 中的列表中 -->


        <service android:name="TimerService"></service>
    </application>

</manifest>