<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yarin.android.Examples_03_03"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="30"  android:targetSdkVersion="32"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application android:icon="@mipmap/ic_launcher" android:label="@string/app_name"  android:allowBackup="true">
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".PlayVideoActivity" />
        <activity android:name=".AudioActivity" />

        <service android:name=".MusicService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.yarin.Android.MUSIC" />
                <category android:name="android.intent.category.default" />
            </intent-filter>
        </service>


        <service android:name=".RecorderAudioService" />
        <receiver android:name=".RecorderAudioReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>