<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zhaojin.webview_sensor_drag_anim"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16"  android:targetSdkVersion="19"/>
	<uses-permission android:name="android.permission.CALL_PHONE" />
	
	<uses-permission android:name="android.permission.INTERNET" /> <!-- 仿问网络权限 -->
	
	
	<!-- SD卡权限 -->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" android:allowBackup="true" >
        <activity
            android:name=".A_MainActivity" 
            android:label="@string/app_name"
            android:theme="@style/titleThem"> <!-- theme -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
          <meta-data android:name="my.props.id" android:value="123"></meta-data>
          <meta-data android:name="my.props.name" android:value="@string/app_name"></meta-data>
          <meta-data android:name="my.props.name.R.id" android:resource="@string/app_name"></meta-data>
          <!-- resource 是返回对应的R文件中的 R.string.app_name 的值 -->
        </activity>
        
         <activity android:name=".WebViewUIActivity"></activity>
         <activity android:name=".AnimActivity"></activity>
         <activity android:name=".DrawableActivity"></activity>
         <activity android:name="PopupActivity"></activity>
    </application>
	
</manifest>