<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zhaojin"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="16"  android:targetSdkVersion="19" />
	
	<uses-permission android:name="android.permission.INTERNET"/> <!-- 为ksoap仿问网络 -->
	<uses-permission android:name="android.permission.CAMERA" />  <!-- 为二维码 -->
    <uses-feature android:name="android.hardware.camera" />  
    <uses-feature android:name="android.hardware.camera.autofocus" />  
   
    <!-- SD卡权限  保存 二维码-->
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".a_thirdlib.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".oauth1.MyActivity"
            android:label="@string/title_activity_main" 
            android:launchMode="singleTask"> <!-- 表示是单例类 ,不会调用onCreate方法,还是调用OnNewIntent方法--> 　
            <intent-filter>
				<action android:name="android.intent.action.VIEW" /> <!-- 对应new Intent(Intent.ACTION_VIEW,...) -->
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data  android:scheme="myproto" android:host="good"/>
            </intent-filter>
        </activity>
        <activity android:name="org.zhaojin.ksoap2.KSoap2MainActivity"/>
         <activity android:name="org.zhaojin.zxing_android.GenerateQRCodeActivity"/>
       	<activity  
            android:configChanges="orientation|keyboardHidden"  
            android:name="org.zhaojin.zxing_android.ScanQRCodeActivity"  
            android:screenOrientation="portrait"  
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  
            android:windowSoftInputMode="stateAlwaysHidden" >  
        </activity>
        
        <activity  
            android:configChanges="orientation|keyboardHidden"  
            android:name="org.zhaojin.zxing_android.ScanLineCodeActivity"  
            android:screenOrientation="portrait"  
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  
            android:windowSoftInputMode="stateAlwaysHidden" >  
        </activity>
        <!-- 其它的 -->
        <activity  
            android:configChanges="orientation|keyboardHidden"  
            android:name="org.zhaojin.zxing_android.CaptureActivity"  
            android:screenOrientation="portrait"  
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"  
            android:windowSoftInputMode="stateAlwaysHidden" >  
        </activity>
        
        
    </application>

</manifest>