<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.zhaojin.widgetUI"
    android:versionCode="1"
    android:versionName="1.0">
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="19"/>

    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:allowBackup="true">
        <activity android:name=".MainActivity"
            > <!-- android:label="@string/hello" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="ViewTextActivity"></activity>
        <activity android:name="EditTextActivity"></activity>
        <activity android:name="CheckBoxActivity"></activity>
        <activity android:name="RadioGroupActivity"></activity>
        <activity android:name="SpinnerActivity"></activity>
        <activity android:name="AutoCompleteTextViewActivity"></activity>
        <activity android:name="DatePickerActivity"></activity>
        <activity android:name="TimePickerActivity"></activity>
        <activity android:name="ProgressBarActivity"></activity>
        <activity android:name="SeekBarActivity"></activity>
        <activity android:name="RatingBarActivity"></activity>
        <activity android:name="ImageViewActivity"></activity>
        <activity android:name="ImageButtonActivity"></activity>
        <activity android:name="GridViewActivity"></activity>

        <activity android:name="ImageShowActivity"></activity> <!-- Gallery 过时 -->
        <activity android:name=".hscroll.HScrollActivity"></activity> <!-- 替代 Gallery  -->

        <activity android:name="TabTagActivity"></activity>
        <activity android:name="MyViewActivity"></activity>
        <activity android:name="MyTextSwitcherActivity"></activity>

        <activity android:name="MyZoomActivity"></activity>
        <activity android:name="MatrixActivity"></activity>

        <activity android:name=".menu.MenuMain"></activity>
        <activity android:name=".menu.MenuXML"></activity>
        <activity android:name=".menu.MenuActionMode"></activity>
        <activity android:name=".DialogMain"></activity>
        <activity android:name=".layout.ActivityMain"></activity>
        <activity android:name=".layout.ActivityFrameLayout"></activity>
        <activity android:name=".layout.ActivityLayout"></activity>
        <activity android:name=".layout.ActivityRelativeLayout"/>
        <activity android:name=".layout.ActivityTableLayout"/>

        <activity android:name=".listview.ListViewList1"/>
        <activity android:name=".listview.ListViewList2"/>
        <activity android:name=".listview.ListViewList3"/>
        <activity android:name=".listview.ListViewList4"/>
        <activity android:name=".listview.ListViewMain"/>
        <activity android:name=".fragement.tab.FragmentTabs"/>
        <activity android:name=".fragememt.listFragment.FragmentLayout"/>
        <activity android:name=".fragememt.listFragment.FragmentLayout$DetailsActivity"/>


    </application>
</manifest>