<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a_real_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.BLUETOOTH"/> <!-- 使用蓝牙的权限  -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> <!--修改蓝牙操作的权限  -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/> <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--要project-clean ,可能要得到root权限 android:sharedUserId="android.uid.system" 不行
    要系统 app才行
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
   <uses-permission android:name="android.permission.REBOOT"/>
   <uses-permission android:name="android.permission.DEVICE_POWER" />
    -->

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.sensor.accelerometer"  android:required="true" />
    <!-- OpenGL ES 2.0. -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <!--  texture compression -->
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />



    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:allowBackup="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".SensorAcceleroActivity" android:screenOrientation="portrait" android:exported="true"></activity>
        <activity android:name=".SensorProximityActivity" android:screenOrientation="portrait" android:exported="true"></activity>
        <activity android:name=".SensorLightActivity" android:screenOrientation="portrait" android:exported="true"></activity>

        <activity android:name=".DragActivity" android:exported="true"></activity>
        <activity android:name=".BlueToothActivity" android:exported="true"></activity>
        <activity android:name=".LocationActivity" android:exported="true"></activity>
        <activity android:name=".WiFiActivity" android:exported="true"></activity>
        <activity android:name=".VibrateActivity" android:exported="true"></activity>

        <activity android:name=".camera2.Camera2Activity" android:exported="true"></activity>

        <activity android:name=".old.CameraRecordActivity" android:exported="true"></activity>
        <activity android:name=".old.CameraPhotoActivity" android:exported="true"></activity>

          <provider
             android:authorities="com.example.a_real_android.provider"
             android:name="androidx.core.content.FileProvider"
             android:grantUriPermissions="true"
             android:exported="false"
             ><meta-data
             android:name="android.support.FILE_PROVIDER_PATHS"
             android:resource="@xml/my_path"/>
         </provider>
        <!-- provider 为老的Camara写文件用
         authorities： 推荐的格式为  app的包名.fileProvider ，代码中有对应
         grantUriPermissions：必须是true，表示授予 URI 临时访问权限
         exported：必须是false
         resource：中的@xxx   是我们接下来要添加的文件
         -->
        
        
        <activity android:name=".PoweroffAlarmActivity" android:exported="true"></activity>
        <activity android:name=".opengl.OpenGLES20Basic" android:exported="true"></activity>

        <receiver android:name=".PoweroffReceiver" android:exported="true"/>
        <receiver android:name=".AlarmReceiver" android:exported="true"/>
    </application>

</manifest>